<header class="bg-primary text-white text-center py-3">
    <h1>Hospital Management System</h1>
   
</header>
<p>we aims to streamline patient management and improve healthcare services in a medical facility. The
    application will facilitate the interaction between patients, doctors, and administrative staff, ensuring
    efficient appointment scheduling, medical record management, and communication.
    Scope<br>
    • Efficient Appointment Booking: Enable patients to schedule appointments online, reducing
    waiting times and improving overall patient experience.<br>
    • Comprehensive Medical Records: Store and manage patient medical records electronically for
    easy access by healthcare providers.<br>
    • Real-time Communication: Allow patients and doctors to communicate securely through the
    platform, enabling follow-up discussions and quick responses to queries.<br>
    • Administrative Automation: Simplify administrative tasks such as handling medical records, staff
    records.</p>
    <footer class="bg-primary text-center text-white fixed-bottom"> 

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
           © 2023 Copyright:
           <a class="text-white" href="https://hexaware.com/">Hexaware</a>
       </div>
       
       </footer>