<header class="bg-primary text-white text-center py-3">
    <h1>Patient Dashboard</h1>
   
</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <img class="img-responsive " src="../assets/pe.png"  width="100" height="100">
            <ul class="navbar-nav" style="margin-left: 2%;">
                <li class="nav-item dropdown" style="margin-right: 5%;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          Appointment
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
                          <a class="dropdown-item" routerLink="/">Add Appointment</a>
                          <a class="dropdown-item" routerLink="/">Update Appointment</a>
                          <a class="dropdown-item" routerLink="/">Delete Appointment</a>
                        </div>
                      </button>
                    </div>
                  
                  </li>
                <li class="nav-item dropdown" style="margin-right: 5%;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          DoctorAvailability
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
                          <a class="dropdown-item" routerLink="/">View DoctorAvailability</a>
                        </div>
                      </button>
                    </div>
                  
                  </li>
            
            <li class="nav-item dropdown" style="margin-right: 5%;">
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                      Prescription
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
            
                      <a class="dropdown-item" routerLink="/">View Presciptions</a>
                    </div>
                  </button>
                </div>
              
              </li>
              <li class="nav-item dropdown" style="margin-right: 5%;">
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                      MedicalTest
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
                     
                      <a class="dropdown-item" routerLink="/">View MedicalTest</a>
                    </div>
                  </button>
                </div>
                
              
              </li>
              <li class="nav-item dropdown"  style="margin-right: 5%;">
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                      Doctors
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
                      <a class="dropdown-item" routerLink="/crudprescription">View Doctors</a>
                    </div>
                  </button>
                </div>
                <li class="nav-item dropdown" style="margin-right: 5%;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          My Profile
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: white; left: auto; right: 0;">
                         
                          <a class="dropdown-item" routerLink="/">Update Details</a>
                          <a class="dropdown-item" routerLink="/">Delete By Id</a>
                        </div>
                      </button>
                    </div>

                
              
              </li>
        </ul>
        
    </div>
</nav>  



<footer class="bg-primary text-center text-white fixed-bottom"> 

 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://hexaware.com/">Hexaware</a>
</div>

</footer>
