<header class="bg-primary text-white text-center py-3">
    <h1>Hospital Management System</h1>
   
</header>
<br>
<br>
<br>
<br>
<br>
<br>    
        <h2 style="text-align:center">Contact Us
            Call us : +91 9360952112<br>
    
      
            <footer class="bg-primary text-center text-white fixed-bottom"> 

                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                   © 2023 Copyright:
                   <a class="text-white" href="https://hexaware.com/">Hexaware</a>
               </div>
               
               </footer>